<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/@.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap" rel="stylesheet">
    <title>GD</title>
</head>
<body>
    <header>
        <div class="header-body-top">
            <h2><i class="fa-solid fa-clock"></i>Atención 24/7</h2>
            <a href="./whtpp.html" class="contacto-ya header-contact">CONTACTANOS YA!</a>
        </div>

        <div class="header-body-bott">
            <div class="header-body-logo">
                <img src="../public/img/logo.PNG" alt="LOGO" class="logo">
            </div>

            <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

            <nav class="header-body-navbar">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./precios.html">Precios</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="section1-inicio">
        <div class="section1-titulo">
            <h2 class="titulo1">Diseños Web</h2>
            <h2 class="titulo2">de facil acceso</h2>
        </div>
    </section>


    <section class="section1-contacto">
        <div class="section1-formulario">
            <div class="section1-envia">
                <h3>Envia tu consulta!</h3>
                <p>Dejanos tus datos y nos podremos en contacto!</p>    
            </div>
            <form action="https://formspree.io/f/xoqrzbzr" method="post">
                <input type="text" id="nombre" required placeholder="Nombre y apellido*:" >
                <input type="email" id="mail" required placeholder="Correo electrónico*:">
                <input type="tel" id="telefono" required placeholder="Teléfono de contacto*:">
                <textarea id="mensaje" placeholder="Mensaje:"></textarea>
                <button type="submit">Enviar consulta</button>
            </form>
        </div>
    </section>

    <footer>
        <section class="seccion-footer">
            <div class="footer-titulo">
                <h4>Diseños Web de Facil Acceso</h4>
            </div>
    
            <div class="links">
                <h5>Datos de Contacto</h5>
                <ul>
                    <!-- <li><a href="#" class="ubicacion"><i class="fa-solid fa-location-crosshairs"></i>CABA - Argentina</a></li> -->
                    <li><a href="./whtpp.html" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i>+54 9 11 5577-3362</a></li>
                    <li><a href="./linkedin.html" class="linkedin"><i class="fa-brands fa-linkedin"></i>linkedin</a></li>
                    <li><a href="./ig.html" class="ig"><i class="fa-brands fa-instagram-square"></i>Instagram</a></li>
                </ul>
            </div>
    
            <div class="algunos-servicios">
                <h4>Algunos Servicios</h4>
                <ul>
                    <li>Diseño Web - Landing Page</li>
                    <li>Diseño Web - Simple</li>
                    <li>Diseño Web - Tienda Inicio</li>
                </ul>
                <a href="./precios.html">TODOS LOS DISEÑOS</a>
            </div>
        </section>
    </footer>

    <div>
        <a href="./whtpp.html" class="whatsapp-button">
            <img src="../public/img/WhatsApp.png" width="60px" alt>
        </a>
    </div>

</body>
</html>