<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>
    <title>GD</title>
</head>
<body>
    <header>
        <div class="header-top">
            <i class="fa-solid fa-timer"></i>
            <h2>
                <i class="fa-solid fa-timer"></i>
                Contactanos 24/7
            </h2>
            <a href="#">CONTACTANOS YA!</a>
        </div>

        <div class="header-bott">
            <div>
                <img src="#" alt="LOGO" class="logo">

                <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>


    <main>

    </main>
    

    <footer>
        <div>
            <div>
                <h4>Diseños Web de Facil Acceso</h4>
            </div>
    
            <div>
                <h5>Datos de Contacto</h5>
                <ul>
                    <li><a href="#" class="ubicacion"><i class="fa-solid fa-location-crosshairs"></i>CABA - Argentina</a></li>
                    <li><a href="#" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i>+54 9 11 5577-3362</a></li>
                    <li><a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#" class="ig"><i class="fa-brands fa-instagram-square"></i></a></li>
                </ul>
            </div>
    
            <div>
                <h4>Algunos Servicios</h4>
                <ul>
                    <li>Diseño Web - Landing Page</li>
                    <li>Diseño Web - Simple</li>
                    <li>Diseño Web - Tienda Inicio</li>
                </ul>
                <a href="#">TODOS LOS DISEÑOS</a>
            </div>
        </div>

    </footer>

    <div>
        <a href="#" class="whatsapp-button">
            <img src="../public/img/WhatsApp.png" alt>
        </a>
    </div>

</body>
</html>