<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/@.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap" rel="stylesheet">
    <title>GD</title>
</head>
<body>
    <header>
        <div class="header-body">
            <div class="header-body-top">
                <h2>
                    <i class="fa-solid fa-clock"></i>
                    Atención 24/7
                </h2>
                <a href="#" class="header-contact">CONTACTANOS YA!</a>
            </div>

            <div class="header-body-bott">
                <div class="header-body-logo">
                    <img src="../public/img/logo.PNG" alt="LOGO" class="logo">
                </div>

                <div class="header-body-burger">
                    <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
                </div>

                <nav class="header-body-navbar">
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="./precios.html">Precios</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        
    </main>
    






    <footer>
        <div>
            <div>
                <h4>Diseños Web de Facil Acceso</h4>
            </div>
    
            <div>
                <h5>Datos de Contacto</h5>
                <ul>
                    <li><a href="#" class="ubicacion"><i class="fa-solid fa-location-crosshairs"></i>CABA - Argentina</a></li>
                    <li><a href="#" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i>+54 9 11 5577-3362</a></li>
                    <li><a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#" class="ig"><i class="fa-brands fa-instagram-square"></i></a></li>
                </ul>
            </div>
    
            <div>
                <h4>Algunos Servicios</h4>
                <ul>
                    <li>Diseño Web - Landing Page</li>
                    <li>Diseño Web - Simple</li>
                    <li>Diseño Web - Tienda Inicio</li>
                </ul>
                <a href="#">TODOS LOS DISEÑOS</a>
            </div>
        </div>

    </footer>

    <div>
        <a href="#" class="whatsapp-button">
            <img src="../public/img/WhatsApp.png" width="60px" alt>
        </a>
    </div>

</body>
</html>