<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/@.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap" rel="stylesheet">
    <title>GD</title>
</head>
<body>
    <header>
        <div class="header-body-top">
            <h2><i class="fa-solid fa-clock"></i>Atención 24/7</h2>
            <a href="./whtpp.html" class="contacto-ya header-contact">CONTACTANOS YA!</a>
        </div>

        <div class="header-body-bott">
            <div class="header-body-logo">
                <img src="../public/img/logo.PNG" alt="LOGO" class="logo">
            </div>

            <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

            <nav class="header-body-navbar">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./precios.html">Precios</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <section class="section1-contacto">
            <div class="section1-titulo">
                <h2 class="titulo1">Diseños Web</h2>
                <h2 class="titulo2">de facil acceso</h2>
            </div>

            <div class="section1-formulario">
                <div class="section1-envia">
                    <h3>Envia tu consulta!</h3>
                    <p>Dejanos tus datos y nos podremos en contacto!</p>    
                </div>
                <form action="https://formspree.io/f/xoqrzbzr" method="post">
                    <input type="text" name="nombre" id="nombre" required placeholder="Nombre y apellido*:" >
                    <input type="email" name="mail" id="mail" required placeholder="Correo electrónico*:">
                    <input type="tel" name="telefono" id="telefono" required placeholder="Teléfono de contacto*:">
                    <textarea name="mensaje" id="mensaje" placeholder="Mensaje:"></textarea>
                    <button type="submit">Enviar consulta</button>
                </form>
            </div>

            <div class="section1-items">
                <h4><i class="fa-solid fa-clipboard-check"></i>Los mejores precios</h4>
                <h4><i class="fa-solid fa-clipboard-check"></i>Calidad y profesionalismo</h4>
            </div>
        </section>

        <section class="section2-servicios">
            <div class="servicios-encabezado">
                <span></span>
                <h3>Servicios</h3>
            </div>

            <div class="servicios-intro">
                <div class="servicios-titulo">
                    <h2 class="servicios-titulo1">Tarifas de Diseño Web</h2>
                    <p class="servicios-titulo2">Todos nuestros paquetes de Diseño Web incluyen Hosting y domiño gratis durante el primer año.</p>
                </div>
                <div class="servicios-buttons">
                    <a href="./precios.html" class="todos-precios servicios-precios">TODOS LOS PRECIOS</a>
                    <a href="./whtpp.html" class="contacto-ya servicios-contact">CONTACTANOS YA!</a>
                </div>    
            </div>

            <div class="servicios-row">
                <div class="servicios-paquetes" id="langing_page">
                    <a href="./precios.html" class="paquetes-precios">
                        <img class="row-image" src="../public/img/logo_servicios.png" alt="">
                        <h4>DISEÑO WEB</h4>
                        <H3>LANDING PAGE</H3>
                        <H2>AR$ 15.000</H2>
                        <p>
                            <b>Diseño web de landing page</b>
                            o pagina de aterrizaje. Ideal para promocionar un producto y/o servicio especifico.
                            <br><br>
                            <b>El costo incluye hosting y dominio por 1 año.</b>
                        </p>
                        <p class="mas-info">MÁS INFORMACIÓN</p>
                    </a>
                </div>

                <div class="servicios-paquetes" id="simple">
                    <a href="./precios.html" class="paquetes-precios">
                        <img class="row-image" src="../public/img/logo_servicios.png" alt="">
                        <h4>DISEÑO WEB</h4>
                        <H3>SIMPLE</H3>
                        <H2>AR$ 24.000</H2>
                        <p>
                            El
                            <b>Diseño web simple</b>
                            es perfecto para pequeños negocios que quieren mostrar su producto. Incluye hasta 4 secciones y un total de 20 imagenes.
                            <br><br>
                            <b>El costo incluye hosting y dominio por 1 año.</b>
                        </p>
                        <p class="mas-info">MÁS INFORMACIÓN</p>
                    </a>
                </div>

                <div class="servicios-paquetes" id="tienda_online">
                    <a href="./precios.html" class="paquetes-precios">
                        <img class="row-image" src="../public/img/logo_servicios.png" alt="">
                        <h4>DISEÑO WEB</h4>
                        <H3>TIENDA ONLINE</H3>
                        <H2>AR$ 79.000</H2>
                        <p>
                            Tu
                            <b>Tienda Online</b>
                            será totalmente autoadministrable!
                            <br><br>
                            <b>El costo incluye hosting y dominio por 1 año.</b>
                        </p>
                        <p class="mas-info">MÁS INFORMACIÓN</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="seccion3-beneficios">
            <div class="servicios-encabezado">
                <span></span>
                <h3>Beneficios</h3>
            </div>

            <div class="servicios-intro">
                <div class="servicios-titulo">
                    <h2 class="servicios-titulo1">Beneficios</h2>
                    <p class="servicios-titulo2">Todos nuestros paquetes de Diseño Web cuentan con las mejores herramientas del mercado para agregarle <b>valor</b> a tu pagina web.</p>
                </div>
            </div>

            <div class="beneficios-checkbox">
                <label for="beneficios">Soporte Directo</label>
                <p>Boton incorporado de WhatsApp para que el cliente pueda contactarse directamente con tu empresa.</p>

                <label for="beneficios">Diseño Responsibe</label>
                <p>Diseño adaptable a toda plataforma (telefono, tablet o PC).</p>

                <label for="beneficios">Enlazado con Redes Sociales</label>
                <p>Vinculamos tu pagina web con tus redes sociales con un boton de acceso directo.</p>

                <label for="beneficios">Estadisticas de Visitas</label>
                <p>Instalamos Google Analytics para poder ver las visitas y todo tipo de estadisticas de tu pagina web.</p>

                <label for="beneficios">Correo Profesional</label>
                <p>Obtendrás un mail con el nombre de tu empresa, esto inspira mayor confianza con tus futuros clientes.</p>
            </div>
        </section>

        <!-- <section class="seccion4-metodologia">

        </section> -->

    </main>

    <footer>
        <section class="seccion-footer">
            <div class="footer-titulo">
                <h4>Diseños Web de Facil Acceso</h4>
            </div>
    
            <div class="links">
                <h5>Datos de Contacto</h5>
                <ul>
                    <!-- <li><a href="#" class="ubicacion"><i class="fa-solid fa-location-crosshairs"></i>CABA - Argentina</a></li> -->
                    <li><a href="./whtpp.html" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i>+54 9 11 5577-3362</a></li>
                    <li><a href="./linkedin.html" class="linkedin"><i class="fa-brands fa-linkedin"></i>linkedin</a></li>
                    <li><a href="./ig.html" class="ig"><i class="fa-brands fa-instagram-square"></i>Instagram</a></li>
                </ul>
            </div>
    
            <div class="algunos-servicios">
                <h4>Algunos Servicios</h4>
                <ul>
                    <li>Diseño Web - Landing Page</li>
                    <li>Diseño Web - Simple</li>
                    <li>Diseño Web - Tienda Inicio</li>
                </ul>
                <a href="./precios.html">TODOS LOS DISEÑOS</a>
            </div>
        </section>
    </footer>

    <div>
        <a href="./whtpp.html" class="whatsapp-button">
            <img src="../public/img/WhatsApp.png" width="60px" alt>
        </a>
    </div>

</body>
</html>