<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <script src="https://kit.fontawesome.com/0fce3c0945.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/@.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../public/js/script.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHPHEMM100"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QHPHEMM100');
    </script>

    <title>GD</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-body-main">
            <div class="header-body-top">
                <h2><i class="fa-solid fa-clock"></i>Atención 24/7</h2>
                <a href="https://wa.me/541155773362?text=Hola!%20Me%20gustaria%20contratar%20tu%20servicio!%20" class="contacto-ya header-contact button">CONTACTANOS YA!</a>
            </div>

            <div class="header-body-bott">
                <div class="header-body-logo">
                    <a href="../home.html"><img src="../public/img/logo.PNG" alt="LOGO" class="logo"></a>
                </div>

                <a href="javascript:void(0);" class="burger-menu" onclick="burger_menu()"><i class="fas fa-bars"></i></a>

                <nav class="header-body-navbar">
                    <ul>
                        <li><a href="../home.html"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
                        <li><a href="./precios.html">Precios</a></li>
                        <li><a href="../home.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-body-links burger-links" id="_burger-links">
            <li><a href="../home.html">Home</a></li>
            <li><a href="./precios.html">Precios</a></li>
            <li><a href="../home.html">Contacto</a></li>
        </div>
    </header>

    <main>
        <!-- Inicio -->
        <section class="section1-inicio">
            <div class="section1-titulo">
                <h2 class="titulo1">Diseños Web</h2>
                <h2 class="titulo2">de fácil acceso</h2>
            </div>
        </section>

        <!-- Seccion 2: Servicios -->
        <section class="section2-servicios" id="servicios">
            <div class="encabezado-intro">
                <span></span>
                <h3>Servicios</h3>
            </div>
            <div class="servicios-intro">
                <div class="servicios-titulo">
                    <h2 class="servicios-titulo1">Tarifas de Diseño Web</h2>
                    <p class="servicios-titulo2">Todos nuestros paquetes de Diseño Web incluyen Hosting y dominio gratis durante el primer año.</p>
                </div>
                <div class="servicios-buttons">
                    <a href="../home.html" class="todos-precios servicios-precios button">VOLVER A INICIO</a>
                    <a href="https://wa.me/541155773362?text=Hola!%20Me%20gustaria%20contratar%20tu%20servicio!%20" class="contacto-ya servicios-contact button">CONTACTANOS YA!</a>
                </div>    
            </div>
        </section>

        <section class="servicios-precios">
            <!-- Index top -->
            <section class="precios-index">
                <div class="precios-index-top">
                    <a href="#servicios" class="precios-index-todos menus" onclick="currentPrecio(1)">Todos nuestros Diseños Web</a>
            
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(2)">Diseño Web Landing Page</a>
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(3);SetClassSimple();currentDot(1)">Diseño Web Simple</a>
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(3);SetClassSimple();currentDot(2)">Diseño Web Simple +</a>
        
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(1)">Diseño Web Tienda Online</a>
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(2)">Diseño Web Tienda Online +</a>
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(3)">Diseño Web Tienda Online ++</a>
        
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(5)">Diseño Web Blog</a>
                    <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(6)">Diseño Web Inmobiliario</a>
                    <!-- <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(7)">Diseño Web Autogestionable</a>     -->
                </div>
            </section>

            <!-- Todos los Precios -->
            <section class="precios-todos">
                <div class="paquete precios-intro" >
                    <p>Saber concretamente el tema de tu sitio web y cuál es el objetivo, es la base en la cual se apoyará toda la estructura del proyecto.</p>
                    <p>Ponete en <b>contacto</b> para acesorarte sin compromiso y brindar la mejor opción de página web para tu emprendimiento.</p>    
                </div>

                <div class="paquete precios-landing-page">
                    <div>
                        <p class="precios-todos-pregunta">¿Qué es una <b>Landing Page</b>?</p>
                        <p>Una landing page es una página de aterrizaje, diseñada exclusivamente con un objetivo: llamar la atención de tus visitas y convertirlas en clientes.</p>
                        <p>A diferencia de una Página Simple, la Landing Page debe estar enfocada en ser corta y llamativa al público, con contenido de calidad único, relevante y concentrado, sin distracciones que alejen al visitante de contactarte via WhatsApp </p>
                        <br>
                        <p class="precios-todos-pregunta">¿Por qué crear una Landing Page?</p>
                        <p>La respuesta es simple: <b>resultados</b>.</p>
                        <p>Una página de aterrizaje bien hecha permite que se tenga una tasa de ventas mucho más grande de lo que tiene un sitio web normal. No son extraños los casos en donde gracias a estas páginas, se aumenta la tasa de ventas en 5 o 10 veces más.</p>
                        <p>Si querés vender un servicio o promocionar algo en particular, esta opción es para vos. Ponete en contacto para asesorarte sin compromiso y brindar la mejor opción de página web para tu emprendimiento.</p>    
                    </div>
                    <div class="paquete-data">
                        <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                        <H3 class="servicios-row-paquete">LANDING PAGE</h3>
                        <H2 class="servicios-row-precio">AR$ 15.000.-</h2>
                    </div>
                </div>

                <div class="paquete precios-simple">
                    <div>
                        <p class="precios-todos-pregunta">¿Que es una <b>Web Simple</b>?</p>
                        <p>Un Diseño Web Simple es una página con 4 botones diseñada para mostrar un producto o servicio de manera fácil. Incluye hasta 20 imágenes.</p>
                        <p>Su diseño simple permite transmitir tu producto para captar la atención de los visitantes y conseguir ventas.</p>
                        <p class="precios-todos-pregunta">¿Por qué crear una Página Web Simple?</p>
                        <p>Si tu objetivo es publicar datos de contacto, catálogo de productos, tienda electrónica, las últimas noticias de la organización y materiales que ayudan a comprender mejor tus servicios, ésta es la opción para vos.</p>
                        <p><b>Preguntá por el paquete Simple + y mejorá tu página web para que tenga 6 botones e incluya hasta 40 imágenes.</b></p>
                    </div>
                    <div class="paquete-data carrusel">
                        <div class="paquete-data-simple fade">
                            <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                            <H3 class="servicios-row-paquete">SIMPLE</h3>
                            <H2 class="servicios-row-precio">AR$ 24.000.-</h2>
                        </div>
                        <div class="paquete-data-simple fade">
                            <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                            <H3 class="servicios-row-paquete">SIMPLE +</h3>
                            <H2 class="servicios-row-precio">AR$ 33.000.-</h2>
                        </div>

                        <div style="text-align:center; align-items:center">
                            <span class="paquete-data-simple-dot" onclick="SetClassSimple();currentDot(1)"></span> 
                            <span class="paquete-data-simple-dot" onclick="SetClassSimple();currentDot(2)"></span> 
                        </div>

                        <script>
                            let dotIndex = 1;
                            SetClassSimple();
                            showDot(dotIndex);
                        </script>
                    </div>
                </div>

                <div class="paquete precios-tienda" >
                    <div>
                        <p class="precios-todos-pregunta">¿Que es una <b>Tienda Online</b>?</p>
                        <p>Una Tienda Online es la vitrina virtual donde los vendedores ponen a disposición sus productos o servicios de forma ágil y masiva todos los dias de la semana, las 24 horas y desde cualquier lugar.</p>
                        <p>Esta página  cuentan con un diseño atractivo, navegación fácil e intuitiva y una interfaz que permita al comprador filtrar en detalle tus productos.</p>
                        <p>Vas a poder subir tus productos, editarlos, modificarlos o simplemente bajarlos vos mismo gracias a nuestro diseño <b>autogestionable</b>.</p>
                        <p><b>Preguntá por el paquete Tienda + y mejorá tu página web para que incluya hasta 40 productos o el paquete Tienda ++ para que incluya 60 productos.</b></p>
                    </div>
                    <div class="paquete-data carrusel">
                        <div class="paquete-data-tienda fade">
                            <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                            <H3 class="servicios-row-paquete">TIENDA</h3>
                            <H2 class="servicios-row-precio">AR$ 52.000.-</h2>
                        </div>
                        <div class="paquete-data-tienda fade">
                            <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                            <H3 class="servicios-row-paquete">TIENDA +</h3>
                            <H2 class="servicios-row-precio">AR$ 79.000.-</h2>
                        </div>
                        <div class="paquete-data-tienda fade">
                            <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                            <H3 class="servicios-row-paquete">TIENDA ++</h3>
                            <H2 class="servicios-row-precio">AR$ 91.000.-</h2>
                        </div>

                        <div style="text-align:center; align-items:center">
                            <span class="paquete-data-tienda-dot" onclick="SetClassTienda();currentDot(1)"></span> 
                            <span class="paquete-data-tienda-dot" onclick="SetClassTienda();currentDot(2)"></span> 
                            <span class="paquete-data-tienda-dot" onclick="SetClassTienda();currentDot(3)"></span> 
                        </div>

                        <script>
                            dotIndex = 1;
                            SetClassTienda();
                            showDot(dotIndex);
                        </script>
                    </div>
                </div>

                <div class="paquete precios-blog">
                    <div>
                        <p class="precios-todos-pregunta">¿Qué es un <b>Blog</b>?</p>
                        <p>En tu Blog, o Weblog, podrás publicar cualquier cosa que desees compartir con otros. Podrás actualizar periódicamente y recopilar cronológicamente textos y artículos de uno o varios autores (el más reciente aparece primero).</p>
                        <p>Además, tus lectores podrán dejar sus comentarios en tus artículos.</p>
                    </div>
                    <div class="paquete-data">
                        <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                        <H3 class="servicios-row-paquete">BLOG</h3>
                        <H2 class="servicios-row-precio">AR$ 38.000.-</h2>
                    </div>
                </div>

                <div class="paquete precios-inmobiliario">
                    <div>
                        <p class="precios-todos-pregunta">¿Qué es una página <b>Inmobiliaria</b>?</p>
                        <p>Un portal inmobiliario es un sitio web orientado a ofrecer recursos y servicios relacionados a los inmuebles que ofrezca tu consultora de forma que permita la información del mercado a partir de listados de propiedades en venta o alquiler.</p>
                        <p>Es una herramienta esencial para toda consultora inmobiliaria, que podrás autogestionar vos mismo.</p>
                    </div>
                    <div class="paquete-data">
                        <h4 class="servicios-row-diseño">DISEÑO WEB</h4>
                        <H3 class="servicios-row-paquete">BLOG</h3>
                        <H2 class="servicios-row-precio">AR$ 33.000.-</h2>
                    </div>
                </div>

                <!-- <div class="paquete precios-Autogestionable">
                    <p>Diseño Web Autogestionable</p>
                </div> -->
            </section>
        </section>





        <!-- Index bot -->
        <section class="precios-index" >
            <div class="precios-index-bot">
                <a href="#servicios" class="precios-index-todos menus" onclick="currentPrecio(1)">Todos nuestros Diseños Web</a>
            
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(2)">Diseño Web Landing Page</a>
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(3);SetClassSimple();currentDot(1)">Diseño Web Simple</a>
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(3);SetClassSimple();currentDot(2)">Diseño Web Simple +</a>

                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(1)">Diseño Web Tienda Online</a>
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(2)">Diseño Web Tienda Online +</a>
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(4);SetClassTienda();currentDot(3)">Diseño Web Tienda Online ++</a>
    
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(5)">Diseño Web Blog</a>
                <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(6)">Diseño Web Inmobiliario</a>
                <!-- <a href="#servicios" class="precios-index-paquete menus" onclick="currentPrecio(7)">Diseño Web Autogestionable</a>     -->
            </div>
            
            <script>
                let precioIndex = 1;
                showPrecio(precioIndex);
            </script>
        </section>


    </main>







    <!-- FOOTER -->
    <footer>
        <section class="seccion-footer">
            <div class="footer-titulo">
                <h4>Diseños Web </h4>
                <h6>de Fácil Acceso</h6>
            </div>
    
            <div class="links">
                <h5>Datos de Contacto</h5>
                <ul>
                    <!-- <li><a href="#" class="ubicacion"><i class="fa-solid fa-location-crosshairs"></i>CABA - Argentina</a></li> -->
                    <li><a href="https://wa.me/541155773362?text=Hola!%20Me%20gustaria%20contratar%20tu%20servicio!%20" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i>+54 9 11 5577-3362</a></li>
                    <li><a href="https://www.linkedin.com/in/guido-di-mascio-24a37736/" class="linkedin"><i class="fa-brands fa-linkedin"></i>linkedin</a></li>
                    <li><a href="https://www.instagram.com/guidodimascio/" class="ig"><i class="fa-brands fa-instagram-square"></i>Instagram</a></li>
                </ul>
            </div>
    
            <div class="algunos-servicios">
                <h4>Algunos Servicios</h4>
                <ul>
                    <li>Diseño Web - Landing Page</li>
                    <li>Diseño Web - Simple</li>
                    <li>Diseño Web - Tienda Inicio</li>
                </ul>
                <a href="../precios.html">TODOS LOS DISEÑOS</a>
            </div>
        </section>
    </footer>

    <!-- BOTONES -->
    <div>
        <a href="https://wa.me/541155773362?text=Hola!%20Me%20gustaria%20contratar%20tu%20servicio!%20" class="whatsapp-button">
            <img src="../public/img/WhatsApp.png" width="60px" alt>
        </a>
        <button onclick="topFunction()" id="_top-btn" class="scroll-to-top-button" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>
        <script>
            var mybutton = document.getElementById("_top-btn");
            window.onscroll = function() {scrollFunction()};
        </script>
    </div>


</body>
</html>
