*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-family: 'Barlow', sans-serif;
}
main{
    border-top: #03265c solid 10px;
}

/* ---Colapsar modulos para concentracion de trabajo--- */
/* header{display: none !important;} */
/* .section1-contacto{display: none !important;} */
/* .section2-servicios{display: none !important;} */
/* .section3-beneficios{display: none !important;} */
/* .seccion4-metodologia{display: none !important;} */
/* .seccion-footer{display: none !important;} */

/* Edicion de botones */
.button:hover{
    opacity: 80%;
    cursor: pointer;
    user-select : none;
}
.button:active{
    box-shadow: 2px 2px 5px #03265c;
}
.contacto-ya{
    text-decoration: none;
    background-color: #00a1cd;
    color: white;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px;
    /* font-size: 18px; */
    font-weight: bold;
    min-width: 165px;
}
.burger-menu{
    background-color: #03265c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 1;

}
.enviar-button{
    background-color: #00a1cd;
    color: white;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-left: 2vw;
}

.whatsapp-button{
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 10px 0;
    position: fixed;
    bottom: 50px;
    right: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    z-index: 100;
}
.scroll-to-top-button{
    display: none;
}
.todos-precios{
    text-decoration: none;
    background-color: #03265c;
    color: white;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

/*_______________________________________________________________*/
.header-body-main{
    /* margin: 20px 20px 10px 20px; */
    padding: 20px 10vw 10px 10vw;
    display: flex;
    justify-content: space-between;
}
.header-body-top{
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px 0px 15px; */
    /* width: 90%; */
    /* margin-right: 5vw; */
    /* margin-left: 7%; */
    font-size: 12px;
    flex-direction: row-reverse;

}
.fa-clock{
    color: #00a1cd;
    padding-right: 3px;
}
.header-body-top h2{
    font-size: 12px;
    /* width: 30vw; */
}
.header-body-bott{
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px 0px 15px; */
    /* margin-right: 5vw; */
    /* margin-left: 5%; */
    flex-direction: column;
}
.header-body-navbar{
    display: none;
}
.burger-links{
    display: none;
    list-style: none;
    background-color: #00a1cd;
    padding: 20px 15%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 150px;
}
.burger-links ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.burger-links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.burger-links ul:hover a{
    color: #0002;
}
.burger-links li:hover a{
    color: #03265c;
}



/* 
.header-body-navbar ul:hover a{
    color: #0002;
}
.header-body-navbar li:hover a{
    color: #00a1cd;
}
 */

/*_______________________________________________________________*/
.section1-contacto{
    text-align: center;
    background-color: #CCC;
    background-color: #CCCCCC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300A1CD'/%3E%3Cstop offset='1' stop-color='%23CCCCCC'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23CCCCCC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CCCCCC' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;background-position: center;
    padding: 10px;
}
.section1-titulo{
    padding: 40px 0;
    /* background-color: #CCC; */
    /* text-align: center; */
    /* height: 20vh; */
    min-height: calc(50vh - 280px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    /* width: 99.2vw; */
    background-position: center;
}
/* TODO: agragar animacion al background-color: #212529*/
.titulo1{
    color: white;
    padding: 5px;
    display: inline-block;
    animation-name: highlightAnim;
    animation-duration: 3s;
    border-radius: 8px;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes highlightAnim {
    0%{}
    100%{
        background-color: #03265c;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
}
.titulo2{
    font-weight: 400;
    opacity: 70%;
    z-index: 1;
}
.section1-formulario{
    display: flex;
    background-color:white;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 3vw;
    margin: 30px 15vw 30px 10vw;
}
.section1-formulario div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}
.section1-formulario h3{
    color: #183f72 ;
}
input, textarea  {
    display: flex;
    width: 55vw;
    padding: 5px;
    margin: 10px 2vw !important;
    resize: vertical;
}
input:focus{
    font-weight: bold;
}
.section1-items{
    /* border: 1px red solid; */
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.section1-items h4{
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}
.section1-items i{
    padding-right: 5px;
    font-size: 30px;
    color: #183f72;
}
.section1-inicio{
    display: flex;
    background-color: #CCC;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*_______________________________________________________________*/
.section2-servicios{
    /* background-color: #ebebeb; */
    background-color: #EBEBEB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2303265C'/%3E%3Cstop offset='1' stop-color='%2300A1CD'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-133.7 27.200000000000003) rotate(16.1 1409 581) scale(1.054668)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-89 80) rotate(21 800 450) scale(1.0338889999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(62.39999999999999 -213) rotate(207 401 736) scale(1.0338889999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(480 -26) rotate(6.5 150 345) scale(0.931556)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-287 -203) rotate(244.79999999999998 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-446.4 145.6) rotate(40.8 1400 132) scale(0.97)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 30px 10px;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}
.encabezado-intro{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10vw;
}
.encabezado-intro span{
    display: inline-block;
    width: 50px;
    border-bottom: 3px solid #CCC;
    border-bottom-color: #00a1cd;
}
.encabezado-intro h3{
    color: #00a1cd;
    margin-left: 15px;
}
.servicios-intro{
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.servicios-titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}
.servicios-titulo h2{
    color: #03265c;
    font-weight: 700;
    margin-bottom: 10px;
    /* text-decoration: #00a1cd underline ; */
    /* text-decoration-style: wavy; */
}
.servicios-titulo p{
    text-align: left;
    width: 80vw;
}
.servicios-buttons{
    display: flex;
    margin: 30px 0;
    flex-direction: column;
}
.servicios-buttons a{
    margin: 10px 10px;
}
.div{
    position: absolute;
    top: calc(inherit + 100px);
}
.prev, .next{ 
    position: absolute;
    top: 250px;
    left: 0;
    color: #03265c;
    width: auto;
    padding: 0 3vw;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    left: unset;
    right: 0%;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.servicios-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 5vw 0; */
    position: relative;
}
.servicios-paquetes:hover{
    border: 2px solid #00a1cd;
    box-shadow: -1px 1px 4px #03265c;
}
.servicios-paquetes{
    display: none;
    border: 2px solid white;
    background-color: white;
    padding: 5vw;
    margin: 5vw 10vw;
    border-radius: 5px;
}
.paquetes-precios{
    text-decoration: none;
    color: black;
}
.row-image{
    width: 50vw;
}
.servicios-row-diseño{
    color: #03265c;
    margin-top: 10px;
}
.servicios-row-paquete{
    color: white;
    background-color: #183f72;
    width: 230px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 25px;
    padding-bottom: 2px;
}
.servicios-row-precio{
    font-size: 35px;
    opacity: 80%;
    margin: 10px 0;
    font-weight: 400;
}
.servicios-paquetes p{
    margin: 35px 0;
    font-size: 20px;
}
.servicios-paquetes b{
    padding: 10px 0;
}
.mas-info{
    color: #00a1cd;
    display: inline-block;
}
.mas-info:hover{
    text-decoration: underline ;
}


/*_______________________________________________________________*/
.section3-beneficios{
    margin: 30px 0;
    margin-bottom: 40px;
}
.beneficios-checkbox{
    margin: 20px 10vw;
}
.accordion{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 70vw;
    border: white solid 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 700;
    opacity: 100%;
}
.accordion::after{
    content: '+';
    position: absolute;
    right: 22vw;
    /* transform: rotate(0.12turn); */
}    
.accordion:hover{
    animation-name: accordion;
    animation-duration: 0.5s;
    color: #00a1cd;
    border: solid #00a1cd 2px;
    border-radius: 5px;
    box-shadow: none;
}
@keyframes accordion {
    from {opacity: .4} 
    to {opacity: 1}
}
.accordion-active{
    border: solid #00a1cd 2px;
    background-color: #00a1cd;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.accordion-active:hover{
    background-color: #00a1cd;
    color: white;
    /* border: none; */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.beneficios-checkbox p{
    border: #00a1cd solid 1px;
    font-size: 15px;
    font-weight: 400;
    opacity: 80%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 70vw;
    display: block;
    /* display: none; */
}
.beneficios-checkbox:visited{
    background-color: #03265c;
}
.panel{
    display: none;
    overflow: hidden;
}

/*_______________________________________________________________*/
.seccion4-metodologia{
    /* margin-bottom: 30px; */
    min-height: calc(100vh - 160px);
}
.metodologia-checkbox{
    padding: 20px;
    text-align: center;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.metodologia-checkbox-topic{
    /* display: none; */
    display: block;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    animation-name: autoplay;
    animation-duration: 15s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}
.metodologia-checkbox > *:nth-child(1) {animation-delay: 0s}
.metodologia-checkbox > *:nth-child(2) {animation-delay: 5s}
.metodologia-checkbox > *:nth-child(3) {animation-delay: 10s}

@keyframes autoplay {
    0% {top: 100%}
    4% {top: 0%}
    33.33% {top: 0%}
    37.33% {top: -100%}
    100% {top: -100%}
}

.metodologia-checkbox-topic i{
    font-size: 50px;
    padding-bottom: 20px;
    color: #00a1cd;
    opacity: 70%;
}
.metodologia-checkbox-topic h3{
    font-size: 25px;
    padding-bottom: 20px;
    color: #03265c;
}
.metodologia-checkbox-topic p{
    font-size: 20px;
    padding-bottom: 20px;
    opacity: 60%;
    font-weight: 400;
}


/*_______________________________________________________________*/
.servicios-precios{
    display: flex;
}
.precios-index{
    padding: 10px 0;
    background-color:#ebebeb;
}
.precios-index-top{
    background-color:#ebebeb;
    display: none;
    margin: 50px 5vw;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 3vw 25px 5vw;
    
    width: 30vw;
    border-radius: 5px;

}
.precios-index-bot{
    margin: 50px 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.precios-index-todos{
    text-decoration: none;
    color: #03265c;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.precios-index-paquete{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.precios-index-paquete:hover {
    color: #00a1cd;
    margin-left: 10px;
    transition: margin-left 1s, color .3s;
}
.precios-todos div p{
    margin: 40px 10vw;
    text-align: justify;
    font-size: 18px;
    opacity: 80%;
}
.precios-todos-pregunta{
    font-size: 25px !important;
    /* font-size: 2.5vw !important; */
    opacity: 100% !important;
    font-weight: 400;
    padding-bottom: 20px;
}
.paquete-data{
    text-align: center;
    margin: 50px 0;
}
.paquete-data-simple-dot, .paquete-data-tienda-dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .paquete-data-simple-dot:hover, .paquete-data-tienda-dot:hover {
    background-color: #717171;
}
.paquete-data-simple{
    display: none;
}
.paquete-data-tienda{
    display: none;
}





/*_______________________________________________________________*/
footer {
    background-color:#183f72;
}
.seccion-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vw;
    padding: 30px 0;
    /* color: white; */
}
.seccion-footer ul{
    list-style: none;
}
.seccion-footer a{
    text-decoration: none;
    color: inherit;
}
.footer-titulo{
    opacity: 80%;
    margin: 15px 0;
}
.footer-titulo h4{
    font-size: 35px;
}
.footer-titulo h6{
    font-size: 22px;
}
.links {
    /* margin: 15px; */
    /* margin-top: 20px; */
    opacity: 80%;
    font-size: 20px;
}
.links h5{
    font-size: 20px;
    opacity: 60%;
    margin-bottom: 10px;
}
.links i{
    padding: 5px;
}
/* .algunos-servicios{
    display: none;
} */

.redes{
    /* margin: auto; */
    /* padding: 1.5em 3em; */
    display: flex;
    /* gap: 1.5em; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.red{
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 2em;
    box-shadow: 6px 6px 0px -2px #92a8d3, 
    -6px -6px 20px -10px #ffffff;
    text-align: center;
    transition: box-shadow .5s, width .5s;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #dae2f1;
    z-index: 0;
}
.icon{
    font-size: 1.8rem;
    line-height: 60px;
    min-width: 60px;
    transition: color 1s;
}
.red:hover{
    box-shadow: 6px 6px 10px -2px hsl(220, 43%, 75%), 
    -6px -6px 10px -2px hsl(0, 0%, 100%), 6px 6px 10px -2px hsl(220, 43%, 80%) inset, 
    -6px -6px 10px -2px hsl(0, 0%, 100%) inset;
    border: 2px solid hsl(220, 45%, 90%);
    color: var(--color); 
    width: 150px;
}





@media (max-width:767px) {
    .scroll-to-top-button{
        display: none !important;
    }

}

/*_______________________________________________________________*/
@media (min-width:768px){
    .burger-links{
        display: none;
    }
    .header-body-top{
        font-size: 15px;
    }
    .header-body-top h2{
        font-size: 15px;
    }
    .burger-menu{
        display: none;
    }
    .header-body-navbar{
        display: inline-block;
        width: 40vw;
        z-index: 0;
        overflow: hidden;
    }
    .header-body-navbar ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        max-width: 40vw;
    }
    .header-body-navbar li{
        text-align: center;
    }
    .header-body-navbar a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        display: inline-flex;
        transition: 0.5s;
    }
    .header-body-navbar ul:hover a{
        color: #0002;
    }
    .header-body-navbar li:hover a{
        color: #00a1cd;
    }
    .whatsapp-button{
        display: inline-block;
        width: 50px;
        height: 80px;
        padding: 10px 0;
        position: fixed;
        bottom: 50px;
        right: 15px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        line-height: 1.2;
        z-index: 100;
        animation: wiggle ease;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-delay: 4s;
    }
    @keyframes wiggle {
        0% { transform:translate(0,0) }
        1.78571% { transform:translate(5px,0) }
        3.57143% { transform:translate(0,0) }
        5.35714% { transform:translate(5px,0) }
        7.14286% { transform:translate(0,0) }
        8.92857% { transform:translate(5px,0) }
        10.71429% { transform:translate(0,0) }
        100% { transform:translate(0,0) }
    }

    .scroll-to-top-button{
        width: 50px;
        height: 80px;
        padding-bottom: 20px;
        position: fixed;
        bottom: -25px;
        right: 10px;
        color: #ffffff;
        background-color: black;
        opacity: 70%;
        text-align: center;
        text-decoration: none;
        line-height: 1.2;
        z-index: 100;
        max-width: 50px;
        border-radius: 8px;
        font-size: 18px;
        border: none;
        transition: opacity 0.3s;
        animation-name: scroll-fade;
        animation-duration: 1.5s;
    }
    @keyframes scroll-fade {
        from {opacity: .0} 
        to {opacity: 70%}
    }
    .scroll-to-top-button:hover{
        color: #00a1cd;
        width: 50px;
        height: 80px;
        transition: background-color 0.2s linear;
        transition: opacity 0.2s linear;
        opacity: 100%;
        background-color:#03265c;
    }
    .servicios-buttons{
        display: flex;
        flex-direction: row;
        margin: 30px 0;
    }
    .servicios-buttons a{
        margin: 0 10px;
    }
    .dot{
        display: none;
    }
    .metodologia-checkbox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 30vh;
}
    .metodologia-checkbox-topic{
        padding: 20px 10px;
        max-width: 400px;
    }
    .precios-index-top{
        display: flex;
    }
    .precios-index{
        background-color: white;
    }
    .precios-index-bot{
        display: none;
    }
    .precios-todos div p{
        margin: 55px 0;
        margin-right: 5vw;
        font-size: 20px;
        /* font-size: 2vw; */
    }
    .paquete-data{
        position: absolute;
        left: 10px;
        top: 1200px;
        margin-left: 5vw;
        width: 30vw;
        text-align: center;
    }
    .precios-todos{
        height: 900px;
    }
    .section1-formulario{
        max-width: 40vw;
    }
    input, textarea{
        max-width: 30vw;
    }
}

/*_______________________________________________________________*/
@media(min-width:1200px){
    .burger-links{
        display: none;
    }
    .header-body-top{
        font-size: 18px;
    }
    .header-body-top h2{
        font-size: 18px;
    }
    .header-body-navbar{
        width: 30vw;
        max-width: 40vw;

    }
    .servicios-row{
        margin: 5vh 10vw;
        flex-direction: row;
        width: 80vw;
        align-items: normal;
    }
    .servicios-paquetes{
        margin: 0 auto;
        width: 25vw;
        display: flex !important;
    }
    .row-image{
        width: 10vw;
    }
    .metodologia-checkbox{
        position: static;
        overflow: visible;
}
    .metodologia-checkbox-topic{
        position: static;
        animation-name: none;
        display: block !important;
    }
    .whatsapp-button{
        display: inline-block;
        width: 50px;
        height: 80px;
        padding: 10px 0;
        position: fixed;
        bottom: 50px;
        right: 15px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        line-height: 1.2;
        z-index: 100;
    }

    .servicios-buttons{
        display: flex;
        flex-direction: row;
        margin: 30px 0;
    }
    .servicios-buttons a{
        margin: 0 10px;
    }
    .dot{
        display: none;
    }
    .prev, .next{
        display: none;
    }
    .servicios-paquetes{
        display: flex !important;
    }
}

