*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
}

header{
    margin: 10px 20px 0px 20px;

}

.header-body-top{
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.header-contact{
    text-decoration: none;
    background-color: #00a1cd;
    color: white;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.header-body-bott{
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    margin-right: 5%;
    margin-left: 5%;
}

.header-body-navbar{
    display: none;

}

.burger-menu{
    background-color: #03265c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-right: 9vw;
}

.section1-contacto{
    text-align: center;
    background-color: cadetblue;
    padding-top: 10px;
}
.section1-titulo{
    margin-bottom: 30px;
}
.titulo1{
    /**/
    color: white;
    animation-name: web;
    animation-duration: 1000ms;

}

.titulo2{
    font-weight: 400;
}

.formulario{
    display: flex;
    background-color:white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

input, textarea  {
    display: flex;
    width: 50vw;
    padding: 5px;
    margin: 10px 10px !important;
}
input:focus{
    font-weight: bold;
}
.formulario button{
    background-color: #00a1cd;
    color: white;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-left: 10px;
}
.formulario button:hover{

}

.section1-items{
    border: 1px red solid;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.section1-items h4{
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}
.section1-items i{
    padding-right: 5px;
    font-size: 30px;
}


/*
header{display: none;}
.section1-contacto{display: none;}

/**/


footer {
    border: 1px red solid;
    visibility: collapse;
}

.whatsapp-button{
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 10px 0;
    position: fixed;
    bottom: 50px;
    right: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    z-index: 100;

}

@media (min-width:768px){
    .burger-menu{
        display: none;
    }

    .header-body-navbar ul{
        display: flex;
        list-style: none;
    }
    

}
@media(min-width:1200px){
    .header-body-top{
        max-width: 720px;
    }

}