*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
}

.header-body{
    margin: 0px 20px 20px 20px;
}

.header-body-top{
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.header-body-bott{
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    margin-right: 10%;
    margin-left: 10%;
}

.header-body-navbar{
    display: none;
}

.burger-menu{
    background-color: #03265c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}







footer {
    border: 1px red solid;
    visibility: collapse;
}

.whatsapp-button{
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 10px 0;
    position: fixed;
    bottom: 50px;
    right: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    z-index: 100;

}

@media (min-width:768px){
    .burger-menu{
        display: none;
    }
    .header-body-top{
        max-width: 720px;
    }

    .header-body-navbar ul{
        display: flex;
        list-style: none;
    }
    


}
@media(min-width:1200px){
    .header-body-top{
        max-width: 720px;
    }

}